.SectionHeader {
  width: 30%;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--border-color);
}

.SectionHeader > p {
  font-size: 24px;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  .SectionHeader {
    width: 100%;
  }
}
