.CurrencyGrid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 36px;
}

.CurrencyGrid__Buttons {
  display: grid;
  gap: 64px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

@media screen and (max-width: 768px) {
  .CurrencyGrid {
    gap: 24px;
  }

  .CurrencyGrid__Buttons {
    gap: 16px;
    grid-template-columns: none;
  }
}
