.Button {
  background-color: var(--background-secondary);
  color: var(--text-primary);
  padding: 12px 16px;
  border-radius: 12px;
  border: 0;
  transition: 0.3s;
  cursor: pointer;
}

.Button:hover {
  background-color: var(--accent);
  color: white;
}

.Button:active {
  transform: scale(0.9);
}
