.CurrencyButtonInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: start;
  gap: 2px;
}

.CurrencyButtonInfo > h1 {
  font-size: 24px;
  color: var(--text-primary);
  font-weight: 400;
}

.CurrencyButtonInfo > p {
  color: var(--text-secondary);
  font-size: 20px;
  font-weight: 300;
}
