.CurrencyButtonInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2px;
}

.CurrencyButtonInfo > h1 {
  font-size: 24px;
  color: white;
  font-weight: 400;
  text-align: start;
}

.CurrencyButtonInfo > p {
  color: #a7b2c3;
  font-size: 20px;
  font-weight: 300;
}
