.Contact {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 64px 16px;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .Contact {
    width: 100%;
  }
}
