.Header {
  background-color: #030304;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 18px;
}

.Navigation {
  display: flex;
  gap: 96px;
  justify-content: space-around;
}

.Link {
  color: white;
  text-decoration: none;
  font-weight: 300;
  transition: 0.3s;
}

.Link:hover {
  color: #00bc4f;
}

@media screen and (max-width: 768px) {
  .Header {
    flex-direction: column;
    gap: 12px;
  }

  .Navigation {
    flex-direction: column;
    gap: 12px;
    align-items: center;
  }
}
