.CurrencyButton {
  display: flex;
  gap: 18px;
  align-items: center;
  background-color: #202025;
  border: 1px solid #474747;
  padding: 24px;
  border-radius: 8px;
  transition: 0.1s;
  cursor: pointer;
}

.CurrencyButton:hover {
  background-color: #2d2d32;
}

.CurrencyButton:active {
  transform: scale(0.98);
}
