.CurrencyButton {
  display: flex;
  gap: 18px;
  align-items: center;
  background-color: #202025;
  border: 1px solid #474747;
  padding: 24px;
  border-radius: 8px;
  transition: 0.1s;
  cursor: pointer;
}

.CurrencyButton:hover {
  background-color: #2d2d32;
}

.CurrencyButton:active {
  transform: scale(0.98);
}

.CurrencyButton__Info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2px;
}

.CurrencyButton__Info > h1 {
  font-size: 24px;
  color: white;
  font-weight: 400;
  text-align: start;
}

.CurrencyButton__Info > p {
  color: #a7b2c3;
  font-size: 20px;
  font-weight: 300;
}
