.TextArea {
  width: 100%;
  border-radius: 8px;
  border: 1px solid gray;
  padding: 6px 12px;
  color: var(--text-primary);
  background-color: var(--background-primary);
}

.TextArea__Label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
